

button {
  width: 400px;
  height: 80px;
  border-radius: 20px;
  margin:10px;
  color: white;
  font-weight: 700;

}

.orange {
  
  background-color: orange;
}

.blue {
  background-color: rgb(33, 162, 231);
}

.fuscia {
  background-color: fuchsia;
}

.green {
  background-color: rgb(23, 219, 52);
}

.smallButton {
  width:100px;
}


